wp-admin/
wp-includes/

wp-content/uploads/
wp-content/cache/

# IMPORTANT → garder les thèmes
!wp-content/themes/
!wp-content/themes/**

# optionnel plugins
# !wp-content/plugins/

wp-config.php
.env